.sidebar {
    background-color: #343a40;
    color: white;
    width: 250px; /* Kapalıyken menü genişliği */
    transition: width 0.3s;
  }
  
  .sidebar.open {
    width: 250px; /* Açıkken menü genişliği */
  }

  .sidebar.closed {
    width: 50px; /* Sidebar kapalıyken genişliği */
    overflow-x: hidden; /* İçeriğin dışarı taşmasını önler */
  }

  .toggle-btn {
    cursor: pointer;
  }
  
  .menu-item {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
  }
  
  .menu-item.active {
    background-color: #007bff;
  }
  
 
  